asgiref==3.8.1
dj-database-url==2.1.0
Django==5.2
django-allauth==65.7.0
django-bootstrap5==25.1
django-crispy-forms==2.4
gunicorn==21.2.0
pillow==11.2.1
psycopg2-binary==2.9.9
sqlparse==0.5.3
typing_extensions==4.13.2
whitenoise==6.6.0
python-dotenv==1.0.0
